<section class="container">
  <section class="section">
    <div class="container has-text-centered">
      <h2 class="title">"<%= categories.name %>"のバイク検索結果(<%= categories.bikes.count %>件)</h2>
    </div>
  </section>
  <hr class="login-hr">
</section>
