<footer class="footer">
  <div class="container">
    <div class="columns has-text-left">
      <div class="column is-3">
        <h2><strong>メニュー</strong></h2>
        <ul>
          <li><strong>・<%= link_to "ホーム", root_path %></strong></li>
          <li><strong>・<%= link_to "バイク検索", prefectures_path %></strong></li>
          <li><strong>・<%= link_to "お気に入り" %></strong></li>
        </ul>
      </div>
      <div class="column is-3 is-offset-2">
        <h2><strong>よくあるご質問</strong></h2>
        <ul>
          <li>・会員登録・ログインについて</li>
          <li>・取引全般について</li>
          <li>・ドライバー登録・ドライバー利用について</li>
          <li>・オーナー登録・バイクのシェアについて</li>
        </ul>
      </div>
      <div class="column is-3 is-offset-3">
        <ul>
          <li>お問い合わせ</li>
          <li>運営会社</li>
        </ul>
      </div>
    </div>
    <div class="content has-text-centered">
      <div class="control level-item">
        <a href="https://github.com/yuta3377/anyride">
          <div class="tags has-addons">
            <span class="tag is-dark">Produced by Yuta</span>
            <span class="tag is-info">MIT license</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
